[Unit]
Description=Watcher Web Interface (Flask)
After=network.target

[Service]
WorkingDirectory=/tmp/WatchersProject/
ExecStart=/usr/bin/python3 watcher_web.py
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
